body {
    margin: 0;
}
.container {
    border: 6px solid black;
    display: flex;
    height: 500px;
    align-boxs: flex-end;
}
.flex-box {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.box-1 {
    background-color: #B4BF35;
    align-self: flex-start;
    /* align-self: flex-start | flex-end | center | stretch | auto     */
}
.box-2 {
    background-color: #B95F21;
    align-self: flex-end;  
}
.box-3 {
    background-color: #1C4C56;
    align-self: center;    
}
.box-4 {
    background-color: #CfB276;
    padding-top: 100px;
    padding-bottom: 100px;    
    align-self: stretch;
}
.box-5 {
    background-color: #6B0803;
}
.box-6 {
    background-color: #1C4C56;
}
.box-7 {
    background-color: #B95F21;
}
.box-8 {
    background-color: #01243A;
}
.box-9 {
    background-color: #AAD041;
}